extends layout

block content
  div.container
    div.col-md-4
        form(method="POST", action='/')
            div.form-group
                label(for="urlInput") Введите урл страницы
                input#urlInput.form-control(placeholder="Введите урл страницы", name="url")
            button.btn.btn-default(type="submit") Найти фото
        div.output
            pre
                !{info}
