extends layout

block content
  div.container
    div.col-md-4
        if (errors)
          .alert.alert-danger
            p= message
            ul
              each error in errors
                li= error.msg
        form(method="POST", action='/').form-horizontal
            div.form-group
                label(for="urlInput") Введите урл страницы
                input#urlInput.form-control(placeholder="Введите урл страницы", name="url")
            button.btn.btn-default(type="submit") Найти фото
        if info
            div.output
                pre
                    !{info}
