doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', media="all")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media="all")
  body
    block content
